.postImg{
    width: 110%;
    height: 12rem ;
   max-width: 100%;
   max-height: 100%;
//    vertical-align: middle;
   display: block;
}

.carNav{
    display: flex;
    justify-content: center;
    bottom: 3rem;
    position: relative;
    z-index: 100;
    align-items: center;
}

.carBtn{
    background: rgba(0, 0, 0, 0.35);
    // transform: rotate(-180deg);
    border-radius: 50%;
    width: 32px;
height: 32px;
border: none;
}
.carBtnPrev{
    background: rgba(0, 0, 0, 0.35);
    transform: rotate(-180deg);
    border-radius: 50%;
    width: 32px;
height: 32px;
border: none;  
}
.tag{
    position: absolute;
width: 121px;
height: 37px;
bottom: 15.5rem;
display: flex;
justify-content: center;
align-items: center;
color: #fff;
font-size: 16px;
line-height: 32px;
font-family: SailecMedium;
// left: 660px;



background: #990621;
}
.feature_excerpt{
    // height: 222px;
    background-color: #000000;
    // z-index: 1;
    top: 16rem;
    position: relative;
   max-width: 661px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 2rem 2rem;
}
.feature_excerpt p{
    color: #fff;
    font-size: 38px;
line-height: 47px;
font-family: SailecBold;
// padding: 3rem 2rem;
}
@media (max-width: 768px) {
    .feature_excerpt p{
        font-size:0.8rem;
        line-height: 20px;
    }
    .carNav{
        bottom: 2rem;
    }
    .feature_excerpt{
        top: 2rem;
        height:9rem;
       margin: 0 4rem;
       padding: 1rem 1rem;
       margin-bottom: 4rem;
    }
    .carBtnPrev, .carBtn{
        width: 25px;
        height: 25px;
    }

    .car-img{
        max-height: 200px !important;
    }
    .postImg{
        width: 100% ;
        height: 230px;
        
    }
    .h{
       height: 20px !important
    }
    .row>*{
        padding: 0px !important;
    }
    .contentContainer{
        padding: 0 20px !important;
    }
    .blogHeadImg{
         max-width: 100%;
   height: 270px !important;
    }
    .blogTitle{

        font-size: 22px !important;
    line-height: 27px !important;
    text-align: left;
   
    }
    .cardContCont{
        padding-left: -15px !important;
    }
    .displayMd{
        display: none !important;
    }
}
@media (max-width: 1024px) {
  
    .contentContainer{
        padding: 0 20px !important;
    }
   
}
@media (min-width: 1000px){
    .cardCont{
     height: 12rem !important;
    }
 
}
.cardTxt{
    color:#5B6370;
    font-family: Sailec;
    font-size: 14px;
line-height: 1.4rem;
// text-align: justify;
// word-wrap:break-word;
}
.cardTxtDate{
    color:#5B6370;
    font-family: Sailec;
    font-size: 14px;
    line-height: 1.3rem;
}
.cardTitle{
    font-family: SailecMedium;
    color: #000000;
    font-size: 20px;
line-height: 1.4rem;
// margin-top: 0.2rem;
}

.cardCont{
    max-width: 623px;
    background: #FFFFFF;
border: 1px solid #D6D6D6;
box-sizing: border-box;
box-shadow: 0px 2px 9px #EFEDED;
cursor: pointer;
// height: 14rem !important;
// position: relative !important;
overflow: hidden !important;
}
.cardCont:hover{
    background-color: #f8f5f5f5;
}

.blogTitle{
    color: #263449;
    font-size: 38px;
line-height: 47px;
font-family: SailecMedium;
margin: 30px 0;
}

.blogContent{
    color: #303742;
    font-size: 16px;
line-height: 25px;
font-family: Sailec;
}
.blogContent  img{
   max-width: 100%;
   height: auto;
   margin: 1.5rem 0
}

// .blogContent  h2{
//   margin-top: 2.5rem;
//   color: #303742;
//  }
//  .blogContent  h3{
//     margin-top: 1rem;
//     color: #303742;
//    }
.blogHeadImg{
    height: 517px;
    width: 100% ;
}

.contentContainer{
    padding: 0 6rem;
    margin-top: 40px;
}


// Recent

.recentTxtHead{
    color: #990621;
    text-transform: uppercase;
    font-family: SailecLight;
    font-size: 14px;
    margin-top: 1.5rem;
}

.recentPostTitle{
    color: #303742;
    font-size: 16px;
    line-height: 24px;
    font-family: SailecMedium;
    padding-right: 5rem;
    cursor: pointer;
    margin-top: 1rem 0
}
.recentPostTitle:hover{
    color: #000000;
}
.recentPostExcerpt:hover{
    color: #000000;
}
.recentPostExcerpt{
    font-family: Sailec;

font-size: 1rem;
line-height: 22px;
color: #303742;
text-align: left;
cursor: pointer;

}
.recentCont{
    padding-left: 1rem;
    padding-right: 4rem;
   
}
.hr{
border-bottom: 1px red;
}
