//  @import 'bootstrap/dist/css/bootstrap.min.css';

.bg{
  background: #181433;
  height: 612px;
  width: 100% !important;
}

.welcomeText{
  font-family: SailecBold !important;
  color: white;
  font-size: 42px;
}

.img{ 
 width: 711px;
 height: 354px;
 background-color: aquamarine;
}
