@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
    @font-face {
      font-family: quote($font-name);
      src: url($path+".eot");
      src: url($path+".eot?#iefix") format("embedded-opentype"), url($path+".woff")
          format("woff"), url($path+".ttf") format("truetype"), url($path+".svg##{$font-name}")
          format("svg");
      font-weight: $weight;
      font-style: $style;
    }
  }

  //animations

  @mixin animation ($name,$timing){
      animation-name: $name;
      animation-timing-function: $timing;
  }

   @mixin keyframes($animation__name) {
       @keyframes #{$animation__name} {
//           @content
     }
   }

   //media query

   @mixin for-phone-only {
    @media (max-width: 650px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 651px) and (max-width: 1024px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }