@import 'mixin';
@import 'variables';

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth !important;
  }

body{
    font-size: 10px;
    overflow-x: hidden;
    background: $background;
    font-family: "Sailec";
}

main{
    margin: auto;
    height: (100% / 6);
    width: 100%;
}

h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    font-family: "SailecBold";
}

p{
    font-weight: lighter;
    font-family: "SailecLight";
}

.plr{
    @include for-phone-only{
        padding: 1rem;
    }

    @include for-tablet-portrait-up{
        padding: 1.5rem;
    }

    @include for-tablet-landscape-up{
        padding:  2rem;
    }

    @include for-desktop-up{
        padding: 2rem 6.5rem;
    }

    @include for-big-desktop-up{
        padding: 3.5rem 8.5rem;
    }
}

